body{
    font-family: 'Lato', sans-serif;
}

.general{
    border: 1px solid lightblue; 
    border-radius: 20px;
    align-content: center;
    align-items: center;


}

.Mesas{
    display: flex;
    justify-content: center;
    
}

.BotonesInfo{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    padding: 4%;
}

th{
    padding: 4%;
}

button{
    color: white;
    background: red;
}